<div class="form">
    <h1>{{note.title}}</h1>
    <p>
        <b>{{note.header}}</b>
    </p>
    <p>{{{note.text}}}</p>
    {{!-- {{>allComments}} --}}
    <div class="all-comments">
        {{#each comment}}
        <div class="card">
            <div class="card-body">
                <p>{{this.text}}</p>
                <span><i>~{{this.name}}</i></span>
                {{#if ../theUser}}
                <button class="btn btn-danger">
                    <a href="/comment/delete/{{this._id}}/{{this.note}}">Usuń</a>
                </button>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    {{!-- {{>commentForm}} --}}
    <form method="POST" action="/comment/save/{{note._id}}">
        <div class="form-group">
            <label>Imię</label>
            <input name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Komentarz</label>
            <textarea name="text" class="form-control"></textarea>
        </div>
        <button>Wyślij</button>
    </form>
</div>